<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Werewolf's of Novadam</title>
</head>
<body>
<h1>Welcome to the Werewolf's of Novadam</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<span>Just a simple project for a nice game.</span>
{% if user.is_authenticated %}
    <div>
        <a href="/game/new/">New game</a>
    </div>
    <br>
    <div>
        The games:<br>
        {% for game in games %}
            <a href="/game/{{ game.id }}/">{{ game.name }}</a><br>
        {% endfor %}
    </div>
{% else %}
    <div>Please create an account or login</div>
{% endif %}
</body>
</html>