<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game: {{ game.name }}</title>
</head>
<body>
<h1>{{ game.name }}</h1>
<hr>
Yes, this needs to go!
<table>
    <thead>
        <tr>
            <th>Player</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for player in game.players.all %}
            <tr>
            <td>{{ player.username }}</td>
            <td>{{ player.profile.get_game_role_display }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
{% if game.players.count >= 3 %}
    <a href="">Start game!</a>
{% endif %}
</body>
</html>